In [2]:
#importing the libraries
import pandas as pd 
import zipfile
import numpy

In [8]:
def unzip(filename,folder_name):
    with zipfile.ZipFile(filename,'r') as zf:
        inner_file=zf.namelist()
        zf.extractall(folder_name)
        return inner_file
inner_file=unzip('sensor_data_2025.zip','Final_Assessment')

In [5]:
inner_file

['munich_data.zip', 'tokyo_data.zip', 'sydney_data.zip']

In [14]:
unzip('Final_Assessment/munich_data.zip','munich_data')
unzip('Final_Assessment/tokyo_data.zip','tokyo_data')

['station_info.json', 'readings.csv']

In [20]:
munich_csv=pd.read_csv('munich_data/readings.csv')

In [31]:
munich_csv['city']='munich'

In [32]:
munich_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   station_id           500 non-null    int64
 1   timestamp            500 non-null    object
 2   temperature_celsius  495 non-null    float64
 3   humidity_percent     494 non-null    float64
 4   pm2_5                489 non-null    float64
 5   city                 500 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 23.6+ KB

In [27]:
tokyo_csv=pd.read_csv('tokyo_data/readings.csv')

In [28]:
tokyo_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   station_id           500 non-null    int64
 1   timestamp            500 non-null    object
 2   temperature_celsius  497 non-null    float64
 3   humidity_percent     489 non-null    float64
 4   pm2_5                490 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 19.7+ KB

In [29]:
tokyo_csv['city']='Tokyo'

In [30]:
tokyo_csv

,station_id,timestamp,temperature_celsius,humidity_percent,pm2_5,city
0,1006,2025-03-05 23:00:00,11.14,92.50,43.29,Tokyo
1,1006,2025-03-31 01:00:00,9.97,94.61,34.22,Tokyo
2,1006,2025-01-14 09:00:00,18.95,54.45,36.74,Tokyo
3,1006,2025-02-01 02:00:00,16.94,61.41,13.78,Tokyo
4,1006,2025-01-27 14:00:00,14.38,54.03,10.38,Tokyo
...,...,...,...,...,...,...
495,1010,2025-01-19 17:00:00,10.60,34.62,45.38,Tokyo
496,1010,2025-01-17 22:00:00,8.13,43.52,28.63,Tokyo
497,1010,2025-03-13 07:00:00,19.56,NaN,56.10,Tokyo
498,1010,2025-03-28 00:00:00,5.79,61.62,18.84,Tokyo
499,1010,2025-02-21 07:00:00,9.06,52.05,59.33,Tokyo

In [35]:
munich_json=pd.read_json('munich_data/station_info.json')
munich_json['city']='munich'

In [33]:
tokyo_json=pd.read_json('tokyo_data/station_info.json')
tokyo_json['city']='tokyo'

In [34]:
all_reading_df=pd.concat([munich_csv,tokyo_csv])

In [37]:
all_station_info_df=pd.concat([munich_json,tokyo_json])